@charset "utf-8";



/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTE Coshop.CSS
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/


html, body {
	-webkit-text-size-adjust:none;  
}
#coshopContainer {	display:none;}
.invitationDialog {	width:498px;}
.invitationDialog .marginTop {	margin-top:5px;}
.invitationDialog .marginBottom {	margin-bottom:5px;}
.invitationDialog .top_left {	background-position: left bottom !important;}
.invitationDialog .top_right {	background-position: right bottom !important;}
.invitationDialog .warningMsgDiv {	margin:10px 0px;}
.invitationDialog .warning {color:red;}

.invitationDialog h2, .permissionDialog h2, .coshopHelp h2 {
	font-size:14px;
	font-weight:bold;
}
#invitationDialogHeader,
#exitConfirmationDialogHeader,
#inviteeDialogHeader{
	font-weight:bold;
}
.invitationDialog .padding, 
.inviteeDialog .padding, 
.exitConfirmationDialogHeader .padding,
.coshopHelp .padding{
	padding-left:20px !important;
	padding-right:20px !important;
}
.invitationDialog .popupCloseImg, .coshopHelp .popupCloseImg {
	background-image:url(../images/coshopping/popup_close.png);
	background-repeat:no-repeat;
	height:15px;
	width:15px;
	background-position:right center;
}
.invitationDialog .closeLink,
.coshopHelp .closeLink {	
	padding-right:20px;
}
#confirmExitString {margin-bottom:10px;}  

.endCollaborationDialog .dijitDialogCloseIcon,.dijitOffScreen{
/*dialog to confirm ending the collaboration dialog*/
	display:none;
}
.cobrowseWidgetTextBox {
	width:100%;
	margin-bottom:3px;
}
.cobrowseWidgetStatus {
	font-size:11px;
	color:blue;
}
.dj_ie .dijitButtonNode {zoom: 1;}
.dj_ie .dijitButtonNode button { overflow: visible;} 
.helpDialog,.permissionDialog{	z-index:4;}
.cobrowseWidgetButton {
	font-size:0.8em;
	font-weight: bold;
	vertical-align: middle;
}
.IE6SelectWorkaround {
	position:absolute; 
	width:100%; 
	height:100px; 
	display:block; 
	filter:alpha(opacity=0);
}
.coshopHelp .header {width:458px;}
.coshopHelp .bodycontent {	width:458px;}
.coshopHelp .icon {	width: 20%;}
.coshopHelp .desc {	width: 80%;}
.coshopHelp .section { margin-top: 20px; margin-bottom:20px;}
/*setting the min width of buttons used in coshopping. Have to be very specific here or the style will affect other store buttons*/
.invitationDialog span.primary_button span.button_container span.button_top span.button_bottom,
.invitationDialog span.secondary_button span.button_container span.button_top span.button_bottom,
.chatInputArea span.primary_button span.button_container span.button_top span.button_bottom,
.coshopHelp  span.primary_button span.button_container span.button_top span.button_bottom,
.coshopHelp span.secondary_button span.button_container span.button_top span.button_bottom{
	min-width:50px;
}
.peerNameInputTextBox{width: 350px;}
#ceadijit_dijit_Dialog_1 .bodycontent {
	padding-top: 30px;
}































/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTE CollaborationDialog.CSS
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/



.HTMLInCollaborationDialog { overflow:auto !important; /*always want the scroll inside the collaboration dialog*/ }
.collaborationDialogWidget  {
	top:0px !important;
	bottom:0px !important;	
	padding:0;
	margin-left:auto;
	margin-right:auto;
	background:#FFFFFF none repeat scroll 0 0 ;
	height: 100%; 
	width: 100%;
	z-index:3;
	overflow:hidden;
}

.collaborationDialogWidget .borderContainer {
	width:100%;
	height:100%;
}

.collaborationDialogButtons {
	text-align:center; 
	height:37px; 
	padding-top:5px;
	_padding-top:3px !important;
}

.collaborationDialogWidgetTitleBar {
	background-image:url(../images/coshopping/background_tile.png);
	background-repeat: repeat-x;	
	height:37px;
}


.collaborationDialogWidgetFooterBar .icons { 
	background-repeat:no-repeat;	
	font-size:14px;
	line-height:30px;
}
.collaborationDialogWidgetFooterBar .connected {background-image:url(../images/coshopping/status_connected.png);}
.collaborationDialogWidgetFooterBar .disconnected {background-image:url(../images/coshopping/status_disconnected.png);}
.collaborationDialogWidgetFooterBar .following {background-image:url(../images/coshopping/status_follow.png);}
.collaborationDialogWidgetFooterBar .leading {background-image:url(../images/coshopping/status_lead.png);}
.collaborationDialogWidgetFooterBar .shopping_independently {background-image:url(../images/coshopping/status_shopping_independently.png);}
.collaborationDialogWidgetFooterBar .window_open {background-image:url(../images/coshopping/status_window_open.png);}
.collaborationDialogWidgetFooterBar .window_closed {background-image:url(../images/coshopping/status_window_closed.png);}
.collaborationDialogWidgetFooterBar .statusContainer {
	background-image:url(../images/coshopping/bottom_bar_background.png);
	background-repeat: repeat-x;	
	height:30px;
	top:0;
	left:0;
	right:0;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
.collaborationDialogWidgetFooterBar .statusPadding {
	padding-left:25px;
}
.collaborationDialogWidgetFooterBar .collaborationDialogWidgetStatus {
	display:inline;
	padding-right:6em;
	
}
.dijitBorderContainerPane, .dijitBorderContainerNoGutterPane {
	position:absolute !important;
	z-index:2;
}
 .dijitTextArea {	padding: 3px;}

.collaborationDialogWidgetTextBox {
	width:300px;
	font-size: 10px;
	border:1px solid #b3b3b3;
	line-height: normal;
	height:16px;
	padding:0px;
}

.collaborationDialogWidgetButton button{
	background-image:url(../images/coshopping/background_tile.png);
	background-repeat:repeat-x;
	height:33px;
	border:0 solid transparent;
	padding:0px;
}


.collaborationDialogWidgetButton .collaborationDialogWidgetIcon, .coshopHelpIcons {
	background-image: url('../images/coshopping/coshopping_buttons_enabled.png'); 
	background-repeat: no-repeat;
	text-align: center;
	margin-left:2px !important;
	margin-right:2px !important;

}

.collaborationDialogWidgetButtonHover .collaborationDialogWidgetIcon {
	background-image: url('../images/coshopping/coshopping_buttons_hover.png'); 
	background-repeat: no-repeat;
	text-align: center;

}
.collaborationDialogWidgetButtonDisabled .collaborationDialogWidgetIcon {
	background-image: url('../images/coshopping/coshopping_buttons_disabled.png'); 
	background-repeat: no-repeat;
	text-align: center;
}

.collaborationDialogWidgetButtonChecked .collaborationDialogWidgetIcon, .coshopHelpIconsChecked {
	background-image: url('../images/coshopping/coshopping_buttons_toggle.png'); 
	background-repeat: no-repeat;
	text-align: center;

}

.dijitToggleButtonIconChar,
.dijitArrowButtonChar,
.dijitDisplayNone,
.collaborationDialogButtons input.dijitOffScreen{
	display:none !important; 
} 


.collaborationDialogWidgetIconDivider {
	background-image:url('../images/coshopping/coshopping_divider.png');
	background-repeat:no-repeat;
	font-size:16px;
	margin-left:7px;
	margin-right:3px;
	vertical-align:middle;	
	white-space:nowrap;
}
.collaborationDialogWidgetEndCollabIcon {
	background-position:-387px 50%;
	height:25px;
	width:28px;
}
.collaborationDialogWidgetHelpIcon {
	background-position:-356px 50%;
	height:25px;
	width:28px;
	
}

.collaborationDialogWidgetChatIcon {
	background-position:-276px 50%;
	height:25px;
	width:28px;	
}
.collaborationDialogWidgetStopFollowingIcon {
	background-position:-204px;
	width:51px;
	height:25px;
}

.collaborationDialogWidgetHighlightIcon { 	
	background-position:-307px 50%;
	height:25px;
	width:28px;
}
.collaborationDialogWidgetFollowMeIcon {
	background-position:-151px 50%;
	height:25px;
	width:51px;
}

.collaborationDialogWidgetBackIcon { 
	background-position:-38px;
	width:28px;
	height:25px; 
}

.collaborationDialogWidgetForwardIcon {
	background-position:-70px;
	width:28px;
	height:25px; 
}

.collaborationDialogWidgetRefreshIcon {
	background-position:-101px;
	width:29px;
	height:25px; 
}

.collaborationDialogWidgetReceivedHighlight {
	background-color: #10EAEF;
	border: 1px dotted black;
	padding: 2px;
	margin: 2px;
}
.collaborationDialogWidgetSentHighlight {
	background-color: #43F128;
	border: 1px dotted black;
	padding: 2px;
	margin: 2px;
}

.collaborationDialogWidgetMessages {
	background: #FFFFE0;
	font-size:1.0em;
}


.collaborationDialogPaneContent {
	padding: 0px;
	margin:0px;
	overflow:hidden;
}
.collaborationDialogWidgetIFrame{
	display: block;
	border: 1px;
	width: 100% !important;
}

.collaborationDialogWidgetButton .dijitButtonNode{
	/*button style*/
	margin: 0px !important ;
	padding: 0px !important;
}

.dijitTextBoxDisabled{	color: gray;}
 	

.chatDialog{
	position:absolute;
	z-index:3;
}

.chatDialog .chatHeader {
	height:1em;
	margin:13px 12px;
}
.chatDialog .chatDialogClose {
	background-image:url(../images/coshopping/popup_close.png);
	background-repeat:no-repeat;
	background-position:right center;
	*margin-right:3px; /*IE onyl*/
}

.chatDialog .chatDialogClose .closeLink {padding-right:20px;}
.chatDialog .chatRight, .permissionDialog .rightCorner {
	background:transparent url(../images/coshopping/chat_right.png) no-repeat scroll left top;
	height:189px;
	width:10px;
	float:left;
}

.chatDialog .chatLeft, .permissionDialog .leftCorner {
	background:transparent url(../images/coshopping/chat_left.png) no-repeat scroll left top;
	height:189px;
	width:5px;
	float:left;
}
.chatDialog .chatBackground, .permissionDialog .background {
	background:transparent url(../images/coshopping/chat_middle_tile.png) repeat-x scroll 0 0;
	height:189px;
	float:left;	
	*width:305px;/*IE only*/
}

.chatDialog .chatDialogConnector {
	position:relative;
	height:14px;
}

.chatDialog .collaborationDialogWidgetChatTextField{
	margin-left: 5px;	
	margin-bottom:5px;
	margin-right:8px;	
	float:left;
	width:16em;
}

.chatDialog input {	margin-bottom:0px!important; width:100%;}
.chatDialogContainer {	display:block;}
.chatDialogContainer .chatDialogTitle {	display:block; font-weight:bold;}	
.chatDialogContainer .chatInputArea {margin:10px 5px;}
.collaborationDialogWidgetChatTextBox {
	margin: 0px 10px;
	height:100px;
	width:260px;
	*width:280px;
	_width:280px;
	border:1px solid #aab2bc;
	background-color:white;
}
.collaborationDialogWidgetChatTextBox .hostMsg{	background:#f3f3f3;	padding: 5px 0px 5px 0px;}
.collaborationDialogWidgetChatTextBox .followerMsg {padding: 5px 0px 5px 0px;}
.collaborationDialogWidgetChatTextBox .chatError {color:red;}
.permissionDialog {display:block;}
.permissionDialog .container {padding:35px 10px;; width:265px;}
#permissionDialogDesc{padding-top: 5px;}
#permissionDialogDesc2 {padding-bottom:10px;}

.dijitButtonNode:hover {background: transparent!important;}

.disableDnd .dojoDndAvatarHeader {
	background-image: url(../images/dndNoCopy.png) !important; 
	background-repeat: no-repeat;
}


/** dojo's dijit.layout.BorderContainer **/
.dijitSplitterV, .dijitGutterV {
	background:#FCFCFC none repeat scroll 0 0;
	border:0 none;
	width:5px;
}
.dijitSplitter {
	border-color:#BFBFBF;
}
.dijitSplitterV {
	border-left:1px none;
	border-right:1px none;
	cursor:ew-resize;
	width:7px;
}
.dijitSplitter {
	background-color:#FFFFFF;
	border:0 solid gray;
	overflow:hidden;
	position:absolute;
	z-index:10;
}
.dijitSplitterV .dijitSplitterThumb {
	background:transparent url(../images/coshopping/splitContainerSizerV-thumb.png) no-repeat scroll 0 0;
	height:19px;
	left:1px;
	width:5px;
}
.dijitSplitContainerSizerH .thumb, .dijitSplitterV .dijitSplitterThumb {
	overflow:hidden;
	position:absolute;
	top:49%;
}

/*iPad*/
.mobileIFrameContainer {
	background:none repeat scroll 0 0 white;
	margin:0 auto;
	overflow:hidden;
}

.mobileIFrame {
	display:block!important;
	border:0 none;
	height:100%;
	overflow:hidden;
	width:100%;
}




























/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTE CMC.CSS
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/

/* ---------------- */
/* ESPOT INFO POPUP
/* ---------------- */

.genericESpot {
	position: relative;
}

.searchResultSpot {
	position: relative;
}

.ESpotInfo {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 23px;
	height: 23px;
	display: none;
	z-index: 9998;
}

.ESpotInfoIcon {
	width: 23px;
	height: 23px;
	background-image: url('../images/cmc/info_icon.gif');
}

.ESpotInfo_popup {
	position:relative;
	z-index: 9999 !important;
}

.ESpotInfo_popup .dijitDialogTitleBar {
	display: none;
}

.ESpotInfo_popup .dijitDialogPaneContent {
	overflow: hidden;
}

.ESpotInfo_popup_main_div {
	display:none;
}

.ESpotInfo_popup .top_left{
	background-image: url('../images/cmc/storepreview_top_left.png');
	background-repeat:no-repeat;
	height:10px;
	width:9px;
	float:left;
}

.ESpotInfo_popup .top_right{
	background-image: url('../images/cmc/storepreview_top_right.png');
	background-repeat:no-repeat;	
	background-position:right;
	padding-left:9px;
	*padding-left:0px;
	height:10px;
	width:783px;
}

.ESpotInfo_popup .header{
	background-image: url('../images/cmc/storepreview_background.png');
	background-repeat:repeat-y;
	height: 40px;
	vertical-align: top;
	width:792px;
}

.ESpotInfo_popup .title{
	float: left;
	font-size: 11pt;
	color: #ffffff;
	text-align: top;
	margin-left: 9px;
	text-decoration:none;
}

.ESpotInfo_popup .close .icon {
	float: right;
	margin-top: 8px;
	margin-right: 13px;
	width: 12px;
	height: 14px;
	background-image: url('../images/cmc/storepreview_window_close_icon.png');
}

.ESpotInfo_popup .close .icon:hover {
	float: right;
	margin-top: 8px;
	margin-right: 13px;
	width: 12px;
	height: 14px;
	background-image: url('../images/cmc/storepreview_window_close_icon_hover.png');
}

.ESpotInfo_popup .close .icon:active{
	float: right;
	margin-top: 8px;
	margin-right: 13px;
	width: 12px;
	height: 14px;
	background-image: url('../images/cmc/storepreview_window_close_icon_press.png');
}

.ESpotInfo_popup .whitespace_background {
	width: 792px;
	float: left;
	background-image: url('../images/cmc/storepreview_whitespace_bg.png');
	margin: 0px;
	padding: 0px;
}

	.ESpotInfo_popup .whitespace_background .content_container {
		width: 740px;
		float: left;
		padding: 18px 0px 18px 0px;
		margin-right: 26px;
		margin-left: 26px;
		text-align: left;
		position: relative;
	}

	.ESpotInfo_popup .whitespace_background .scrollbar {
		width: 759px;
		padding: 18px 0px 0px 18px;
		margin-right: 26px;
		margin-left: 6px;
		overflow: auto; 
		height: 400px;
		float: left;
	}

		.ESpotInfo_popup .whitespace_background .content_container .heading {
			font-size: 12pt;
			color: #002775;
		}

		.ESpotInfo_popup .whitespace_background .content_container .sub_heading {
			font-size: 10pt;
		}

.ESpotInfo_popup .summary {
		width: 732px;
		border: 1px solid #9aabcb;
		position: relative;
		padding-left: 6px;
		font-size: 11px;
		float: left;
		margin-bottom: 15px;
		padding-bottom: 4px;
		padding-top: 4px;
	}

.ESpotInfo_popup .data_table_container {
	float: left;
	width: 738px;
	border: 1px solid #9aabcb;
	position: relative;
	z-index: inherit;
	margin-bottom: 8px;
}

.ESpotInfo_popup .data_table_container a{
	text-decoration: none;
}

.ESpotInfo_popup .data_table_container .header_row {
	width: 738px;
	height: 19px;
	border-bottom: 1px solid #9aabcb;
	background-image: url('../images/cmc/storepreview_datatable_header_bg.png');
	background-repeat: repeat-x;
}

	.ESpotInfo_popup .data_table_container .header_row .name_column {
		width: 40%;
		border-right: 1px solid #9aabcb;
		height: 100%;
		line-height: 19px;
		padding-left: 5px;
		font-size: 11px;
		float: left;
	}
	
	.ESpotInfo_popup .data_table_container .header_row .priority_column {
		width: 8%;
		border-right: 1px solid #9aabcb;
		height: 100%;
		line-height: 19px;
		padding-left: 5px;
		font-size: 11px;
		float: left;
	}
	
	.ESpotInfo_popup .data_table_container .header_row .startdate_column {
		width: 24%;
		border-right: 1px solid #9aabcb;
		height: 100%;
		line-height: 19px;
		padding-left: 5px;
		font-size: 11px;
		float: left;
	}
	
	.ESpotInfo_popup .data_table_container .header_row .enddate_column {
		width: 24%;
		height: 100%;
		line-height: 19px;
		padding-left: 5px;
		font-size: 11px;
		float: left;
	}
	
.ESpotInfo_popup .data_table_container .row {
	width: 738px;
	border-bottom: 1px solid #afb1b3;
	position: relative;
	float: left;
}

.ESpotInfo_popup .data_table_container .row:hover {
	width: 738px;
	border-bottom: 1px solid #afb1b3;
	position: relative;
	float: left;
	background-color:#ffe284;
}

.ESpotInfo_popup .data_table_container .expanded {
	background-color: #d4e9ff;
}

.ESpotInfo_popup .data_table_container .row_full_data {
	width: 714px;
	border-bottom: 1px solid #afb1b3;
	float: left;
	padding: 12px;
	word-wrap: break-word;
}

.ESpotInfo_popup .data_table_container .row_full_data ul, .ESpotInfo_popup .summary ul {
	padding: 0px;
	margin: 0px 0px 0px 15px;
	list-style-image: url("../images/cmc/storepreview_bullet.png")
}

	.ESpotInfo_popup .data_table_container .row .name_column {
		width: 40%;
		line-height: 23px;
		padding-left: 6px;
		font-size: 11px;
		float: left;
	}
	
	.ESpotInfo_popup .data_table_container .row .priority_column {
		width: 8%;
		line-height: 23px;
		padding-left: 6px;
		font-size: 11px;
		float: left;
	}
	
	.ESpotInfo_popup .data_table_container .row .startdate_column {
		width: 24%;
		line-height: 23px;
		padding-left: 6px;
		font-size: 11px;
		float: left;
	}
	
	.ESpotInfo_popup .data_table_container .row .enddate_column {
		width: 24%;
		line-height: 23px;
		padding-left: 6px;
		font-size: 11px;
		float: left;
	}
	
	.ESpotInfo_popup .data_table_container .row .data_column .checkmark {
		width: 13px;
		height: 13px;
		background-image: url('../images/cmc/storepreview_datacontainer_check.gif');
		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
	}

.ESpotInfo_popup .unopened {
	z-index: inherit;
	position: absolute;
	left: -12px;
	top: 6px;
	background-image: url('../images/cmc/storepreview_unopened_arrow.png');
	width: 9px;
	height: 9px;
}

.ESpotInfo_popup .opened {
	z-index: inherit;
	position: absolute;
	left: -13px;
	top: 6px;
	background-image: url('../images/cmc/storepreview_opened_arrow.png');
	width: 9px;
	height: 9px;
}

.ESpotInfo_popup .pagination_container {
	height: 19px;
	width: 774px;
	background-image: url('../images/cmc/storepreview_pagination_bg.png');
	float: left;
	margin-left: 9px;
	border-top: 1px solid #c2cad7;
	border-bottom: 1px solid #9aabcb;
}	

.ESpotInfo_popup .pagination {
	height: 19px;
	line-height: 19px;
	float: right;
}

.ESpotInfo_popup .pagination .link {
color: #3059ca;
}

.ESpotInfo_popup .pagination .previous {
	background-image: url('../images/cmc/storepreview_arrow_previous.png');
	width: 10px;
	height: 17px;
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}

.ESpotInfo_popup .pagination .previous:hover {
	background-image: url('../images/cmc/storepreview_arrow_previous_hover.png');
	width: 10px;
	height: 17px;
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}

.ESpotInfo_popup .pagination .next {
	background-image: url('../images/cmc/storepreview_arrow_next.png');
	width: 10px;
	height: 17px;
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 17px;
}

.ESpotInfo_popup .pagination .next:hover {
	background-image: url('../images/cmc/storepreview_arrow_next_hover.png');
	width: 10px;
	height: 17px;
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 17px;
}

.ESpotInfo_popup .footer {
	height: 14px;
	width: 792px;
}

.ESpotInfo_popup .footer .bot_left
{
	background-image: url('../images/cmc/storepreview_bottom_left.png');
	background-repeat:no-repeat;
	height:7px;
	width:9px;
	float:right;
}

.ESpotInfo_popup .footer .bot_right
{
	background-image: url('../images/cmc/storepreview_bottom_right.png');
	background-repeat:no-repeat;
	background-position:right;
	height:7px;
	width:783px;
	float:right;
}






























/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTE Search.CSS
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/



.autoSuggestBox {
    margin: 0;
    position: relative;
}
.autoSuggestBox .autoSuggest_content {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 0 #CCCCCC;
    float: left;
    line-height: 0;
    padding: 0;
    width: 295px;
}
.autoSuggestBox .autoSuggest_content .heading {
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    padding: 0 10px;
}
/*.autoSuggestBox .autoSuggest_content .results {
    background-image: url("../images/colors/color1/autoSuggestVertical_header_bg.png");
    background-repeat: repeat-x;
    font-size: 10pt;
    line-height: 17px;
    margin-top: -1px;
    padding-top: 8px;
    width: 295px;
}
*/
.autoSuggestBox .autoSuggest_content a {
    color: #999999;
    display: block;
    font-size: 11px;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
}
.autoSuggestBox .autoSuggest_content .view_all_results a {
    text-decoration: underline;
}
.autoSuggestBox .autoSuggest_content ul {
    line-height: normal;
    padding: 0;
}
.autoSuggestBox .autoSuggest_content .line {
    border-top: 1px solid black;
}
.autoSuggestBox .autoSuggest_content li {
    line-height: 12px;
    list-style: none outside none;
}
.autoSuggestBox .autoSuggestSelected {
    background-color: #F1F1F1;
    color: #000000;
}
.autoSuggestBox .autoSuggest_content .view_all_results {
    border-top: 1px solid #CCCCCC;
    margin-top: -1px;
    padding: 6px 0 15px;
}
.autoSuggestBox .autoSuggest_wrapper {
    left: 7px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 27px;
    width: 298px;
}
/*.autoSuggestBox .search_left_border {
    background: url("../images/colors/color1/search_left_shadow.png") repeat-y scroll 0 0 transparent;
    float: left;
    height: 100%;
    left: -3px;
    position: absolute;
    top: 0;
    width: 4px;
}*/

/*.autoSuggestBox .search_right_border {
    background: url("../images/colors/color1/search_right_shadow.png") repeat-y scroll 0 0 transparent;
    float: left;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}*/

.autoSuggestBox .autoSuggest_bottom {
    bottom: -12px;
    height: 12px;
    left: -3px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 301px;
}
.autoSuggestBox .autoSuggest_bottom .bottom_left_shadow {
    background: url("../images/colors/color1/search_bottom_left_shadow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 12px;
    width: 10px;
}
.autoSuggestBox .autoSuggest_bottom .middle_shadow {
    background: url("../images/colors/color1/search_bottom_shadow.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 12px;
    width: 281px;
}
.autoSuggestBox .autoSuggest_bottom .bottom_right_shadow {
    background: url("../images/colors/color1/search_bottom_right_shadow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 12px;
    width: 10px;
}





















/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTE Configurator.CSS
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/


/* Configurator */
#configuratorFrame {
	display:block!important;
	min-height:500px;
	width: 100%;
	margin: 0px;
	border:0px;
}

.dkPricingAdjustmentMessage {
	text-align: right;
	padding-right: 5px;
}

.configuratorFrameContainer {
	margin:10px auto !important;
	width:785px;
}	

.configuratorFrameContainer div.content {
	border-left:solid 1px #c9d3de;
	border-right:solid 1px #c9d3de;
	display:block;
}

div.configuratorFrameContainer h1.topleft {
	position:relative;
	top:20px;
	left: 8px;
}

div.configuratorFrameContainer h2.right {
	float:right;
	position:relative;
	top:-4px;
	padding-right:10px;
}

div.configuratorFrameContainer div.right {	
	float:right;
	padding-right:19px;
}

div #configErrorDiv {
	padding:5px;
}







































/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTES estilo_menu.css MENU PRINCIPAL DEL SITIO
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* MODIFICADOS MENU */
.NavProduct p{font-size:12px;color:#fff;font-weight:normal;line-height:11px;font-family:helvetica,arial,sans-serif;text-align:left;float:right;margin:5px 0 0 14px}
.NavProduct p:hover{color:#bfbfbf}
.NavProduct p.separador{border-right:1px solid #2a2a2a; padding-right:15px !important}
.NavProduct span{color:#fff; font-weight:bold}
.NavProduct span:hover{color:#d6d6d6}
/* MENU PRINCIPAL */
#NavDepto{
	display:inline-block;
	padding:0;
	margin:0 10px 0 0;
	overflow:hidden;
	background:#222;
	float:left;
}
.NavProduct, .NavProduct a{
	display:inline-block;
	overflow:hidden
}
/* MENU DEPARTAMENTOS */
.NavDeptoDrop{
	float:left;
	display:inline-block;
	width:140px;
	height:40px;
	padding:0 30px 0 10px;
	margin:0;
	text-decoration:none;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.NavDeptoDrop:hover{
	background:#333;
}
.NavDeptoDrop .DropButtNav {
	display:block;
	width: 12px;
	height:10px;
	margin:14px 10px 15px;
	background: url(../images/colors/color1/ripley_sprites.png) -4px -7px no-repeat;
	float:left
}
.NavDeptoDrop .line1, .NavDeptoDrop .line2{
	float: left;
	display: inline-block;
	white-space: nowrap;
	color:#fff;
	font-family: "helvetica", "arial", "sans-serif"
}
.NavDeptoDrop .line1{
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	margin-top: 4px;
}
.NavDeptoDrop .line2{
	line-height: 15px;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}
/* MENU DESPLEGABLE 1 */
#NavDeptoDropDown{
	position:relative;
	top:1px;
	left:0;
	z-index:9999;
}
#DropDownBox{
	position:absolute;
	overflow:hidden;
}
#NavDeptoDropDown ul#FirstLevel{
	list-style:none;
	display:none;
	width: 160px;
	padding:5px 20px 8px;
	float: left;
	background:#fff;
	border-left:5px solid #f5f5f5;
	border-right:5px solid #f5f5f5;
	border-bottom:5px solid #f5f5f5;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
}
#NavDeptoDropDown ul#FirstLevel li:first-child{
	border-top:none;
}
#NavDeptoDropDown ul#FirstLevel li{
	border-top:1px solid #bfbfbf;
}
#NavDeptoDropDown ul#FirstLevel li:hover{
	color:#bababa;
}
#NavDeptoDropDown ul#FirstLevel li a{
	width:100%;
	display:block;
	font-size:14px;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	text-transform:uppercase;
	text-decoration:none;
	color:#505050;
	padding:7px 0;
	background: url(../images/colors/color1/ripley_sprites.png) -258px -108px no-repeat;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#NavDeptoDropDown ul#FirstLevel li a:hover,
#NavDeptoDropDown ul#FirstLevel li a.hover,
#NavDeptoDropDown ul#FirstLevel .on{
	color:#939393;
	padding:7px 0 7px 8px;
	background: url(../images/colors/color1/ripley_sprites.png) -235px -108px no-repeat;
}
/* MENU DESPLEGABLE 2 */
.SecondLevel{
	display:none;
	float:left;
	width:750px;
	min-height:425px; /* 363 for 10 menús - 391 for 11 menus - 425 for 12 menu */
	background: #f5f5f5 url(../images/colors/color1/background_menu.gif) repeat 0 0;
	overflow:hidden;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px
}
.SecondLevel .navGrid{
	padding:0 20px 20px;
	overflow: hidden;
}
.SecondLevel .navGrid .Grid{
	width: 162px;
	padding: 0 10px 0 5px;
	float:left;
}
.SecondLevel a.SubCategory{
	font-size:14px;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	text-decoration:none;
	color:#676767 !important;
	padding:10px 0 2px;
	display: block
}
.SecondLevel a.SubCategory:hover{
	color:#272727 !important;
	padding:10px 0 2px 4px!important
}
.SecondLevel a{
	width:100%;
	display:block;
	font-size:12px;
	font-family: helvetica, arial, sans-serif;
	/*font-weight: bold;*/
	text-decoration:none;
	color:#868686;
	padding:3px 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.SecondLevel a:hover{
	color:#363636;
	padding:3px 0 3px 4px;
}

/* BACKGROUND MENU */
/*
.departamento_10{
	background:#f5f5f5 url(../../../minisitios/Home/menu_principal/background_menu.jpg) no-repeat 54px bottom !important;
}
*/



























/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTES Footer.css FOOTER DEL SITIO 
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
#content_footer{width:100%;display:block;margin: 0 auto;overflow:hidden;outline:medium none}
#firstFooter{width:100%;height:130px;background-color:#e8e8e8;margin:0 auto;display:block;overflow:hidden;outline:medium none}
#footer {width:920px;height:200px;margin:0 auto;padding:20px 20px 0 20px;display:block;overflow:hidden}
/* SUSCRIBIRSE csepulvedage@ripley.cl */
#firstFooter #firstFooterBox{width:920px;height:130px;margin:0 auto;padding:10px 20px 0}
#firstFooter #firstFooterBox .caja_suscribir{width:255px;height:90px;padding:0 0 0 20px;margin:12px 0 0;overflow:hidden;border-left:1px solid #bcbcbc}
#firstFooter #firstFooterBox .caja_suscribir .titulos_footer_uno{font-size:19px;font-family: helvetica, arial, sans-serif;font-weight:bold;color:#666;display:block;float:left}
#firstFooter #firstFooterBox #suscribe{float:right}
#firstFooter #firstFooterBox #suscribe p{float:left;display:block}
#firstFooter #firstFooterBox #suscribe #suscribeMail{margin: 15px 0 0 0;float:left}
#firstFooter #firstFooterBox #suscribe #suscribeMail #iconMail{width:35px;height:24px;background: url(../images/colors/color1/ripley_sprites.png) -156px -1px no-repeat;margin:0 4px 0 0;float:left}
#firstFooter #firstFooterBox #suscribe input#suscribir{width:130px;height:20px;padding: 2px 0 2px 5px;font-family:helvetica, arial, sans-serif;font-weight:lighter;font-size:11px;line-height:19px;vertical-align: middle;float:left}
#firstFooter #firstFooterBox #suscribe button{background-color:#626262;border: 0 none;color:#CCC;cursor:pointer;float:left;font-size:9px;height:26px;line-height:11px;width:70px;vertical-align:middle;text-align: center;font-family: helvetica, arial, sans-serif;text-transform:uppercase;padding:0;text-align:center;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s}
#firstFooter #firstFooterBox #suscribe button:hover{background-color:#333;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;-ms-transition: all 0.6s;-o-transition: all 0.6s;transition: all 0.6s}
#firstFooter #firstFooterBox #suscribe button:focus{outline-style:none;border-style:none}
/* FIN SUSCRIBIRSE csepulvedage@ripley.cl */
#firstFooter .caja_siguenos{width:644px;height:90px;float:left;margin:12px 0 0}
#firstFooter h2.encabezados_footer{font-size:20px;font-family: helvetica, arial, sans-serif;font-weight:bold;color:#666;display:block;float:left}
/* TELEFONOS csepulvedage@ripley.cl */
#firstFooter .VentasTelefonicas{width:200px;height:90px;float:left}
#firstFooter .ServicioCliente{width:200px;height:90px;float:left;border-left:1px solid #bcbcbc;padding:0 0 0 20px}
#firstFooter .VentasTelefonicas h2.encabezados_footer, #firstFooter .ServicioCliente h2.encabezados_footer{margin:14px 0 0}
#firstFooter .VentasTelefonicas h3, #firstFooter .ServicioCliente h3{height:24px;background: url(../images/colors/color1/ripley_sprites.png) no-repeat -405px -2px;font-size:26px;line-height:22px;font-family: helvetica, arial, sans-serif;font-weight:bold;color:#3d3d3d;display:block;float:left;padding:0 0 0 20px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s}
#firstFooter .VentasTelefonicas h3:hover, #firstFooter .ServicioCliente h3:hover{color:#9b9b9b;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s}
/* FIN TELEFONOS csepulvedage@ripley.cl */
/* REDES SOCIALES csepulvedage@ripley.cl */
#firstFooter .caja_redes{width:180px;height:90px;float:left;padding:0 0 0 20px;border-left:1px solid #bcbcbc}
#firstFooter .caja_redes p{float:left;display:block;line-height:12px}
#firstFooter .caja_redes #sociales{width:130px;float:left;margin:6px 0 0}
.fb_footer{width: 26px;height:27px;background: url(../images/colors/color1/ripley_sprites.png) no-repeat -24px 0;float: left;margin: 0;text-indent: -9999px}
.twitter_footer{width: 26px;height:27px;background: url(../images/colors/color1/ripley_sprites.png) no-repeat -50px 0;float: left;margin: 0 0 0 5px;text-indent: -9999px}
.yout_footer{width: 26px;height:27px;background: url(../images/colors/color1/ripley_sprites.png) no-repeat -76px 0;float: left;margin: 0 0 0 5px;text-indent: -9999px}
.pint_footer{width:26px;height:27px;background: url(../images/colors/color1/ripley_sprites.png) no-repeat -102px 0;float: left;margin: 0 0 0 5px;text-indent: -9999px}
.fb_footer:hover{background-position:-24px -27px}
.twitter_footer:hover{background-position:-50px -27px}
.yout_footer:hover{background-position:-76px -27px}
.pint_footer:hover{background-position:-102px -27px}
/* FIN REDES SOCIALES csepulvedage@ripley.cl */
/* MENU CORPORATIVO csepulvedage@ripley.cl */
#footer ul.item_footer{height:178px;border-left:1px solid #dadada;margin:0;float:left}
#footer ul.item_footer:first-child{border-left: none}
#footer ul.item_footer li{font-family:helvetica, arial, sans-serif;margin-top:1px;list-style:none}
#footer ul.item_footer li a{color:#777;font-size:11px;text-decoration:none}
#footer ul.item_footer li a:hover{color:#333}
#footer ul.item_footer .titular, #footer .col_cinco li.titular{color:#333;font-weight:bold;margin:0 0 4px 0;font-size:14px;font-weight:bold;color:#666;display:block;float:left}
#footer .col_uno{width:140px;margin:0 15px 0 0}
#footer .col_dos{width:190px;margin:0 20px 0 25px}
#footer .col_dos li{width:190px}
#footer .col_tres{width:100px;margin:0 20px 0 25px}
#footer .col_tres li{width:100px}
#footer .col_cuatro{width:80px;margin:0 0 0 25px}
#footer .col_cuatro li.footerNovios, #footer .col_cuatro li.footerMama, #footer .col_cuatro li.footerDeco{width:68px;height:32px;float:left;text-indent:-9999px;margin:0 0 5px}
#footer .col_cuatro li.footerNovios:hover, #footer .col_cuatro li.footerMama:hover, #footer .col_cuatro li.footerDeco:hover{opacity: 0.7;filter: alpha(opacity=70)}
#footer .col_cuatro li.footerNovios{background: url(../images/colors/color1/ripley_sprites.png) -98px -58px no-repeat}
#footer .col_cuatro li.footerMama{background: url(../images/colors/color1/ripley_sprites.png) -165px -58px no-repeat}
#footer .col_cuatro li.footerDeco{background: url(../images/colors/color1/ripley_sprites.png) -232px -58px no-repeat}
#footer .col_cinco{width:220px;height:176px;border-left: 1px solid #dadada;margin:0 0 0 20px;padding:0 0 0 20px;float:left}
#footer .col_cinco li{list-style:none;float:left}
#footer .col_cinco li a.mediosDePago{width:200px;height:38px;margin:10px 0 0 0;padding:0;background: url(../images/colors/color1/ripley_sprites.png) -195px 0 no-repeat;float:left}
#footer .col_cinco li a.verisign{width:98px;height:54px;margin:15px 0 5px 50px;padding:0;background: url(../images/colors/color1/ripley_sprites.png) -300px -38px no-repeat;float:left;text-decoration:none;text-align:center}
#footer .col_cinco li a.mediosDePago:hover, #footer .col_cinco li a.verisign:hover{opacity: 0.8;filter: alpha(opacity=80)}
#footer .col_cinco li a{line-height:12px;text-align:center;text-decoration:none}
#footer .col_cinco li a p{font-size:10px;color:#777;width:200px}
/* FIN MENU CORPORATIVO csepulvedage@ripley.cl */
/* INFO LEGAL csepulvedage@ripley.cl */
#content_info_legal{
    width: 960px;
    margin: 30px auto 5px;
    padding: 10px 0 20px;
    display: block;
    overflow: hidden;
    font-size: 11px;
    outline: medium none;
    border-top: 1px solid #dadada
}
#content_info_legal #info_legal{
    width:710px;
    margin:45px auto 0 30px;
    display:block;
    float:left
}
#content_info_legal #info_legal p{
    width:670px;
    color:#888;
    text-align:left;
    float:left;
    font-size:11px;
    line-height:16px;
    font-weight:normal
}
#content_info_legal #info_legal p strong{color:#999;font-weight:bold}
#content_info_legal #info_legal p a{color:#888;font-weight:bold;text-decoration:none}
/* FIN INFO LEGAL csepulvedage@ripley.cl */













































/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/* COMPONENTES jquery.fancybox-1.3.4.css
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url(../javascript/Miscellaneous/fancybox/fancybox.png);
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9998;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 9999;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}
#fancybox-content {
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: url(../javascript/Miscellaneous/fancybox/btnClose.jpg) no-repeat 0 0;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url(../javascript/Miscellaneous/fancybox/blank.gif);
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url(../javascript/Miscellaneous/fancybox/fancybox.png);
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url(../javascript/Miscellaneous/fancybox/fancybox.png);
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
    background: url(../javascript/Miscellaneous/fancybox/top.png) repeat left top;
    height: 13px;
    left: 0;
    top: -13px;
    width: 100%;
}

#fancybox-bg-ne {
	top: -13px;
	right: -20px;
	background: url(../javascript/Miscellaneous/fancybox/corner-rt.png) no-repeat left top;
	height:13px;
}

#fancybox-bg-e {
	top: 0;
	right: -12px;
	height: 100%;
	background: url(../javascript/Miscellaneous/fancybox/right.png) repeat left top;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background: url(../javascript/Miscellaneous/fancybox/corner-rb.png) no-repeat left top;
}

#fancybox-bg-s {
    background: url(../javascript/Miscellaneous/fancybox/bottom.png) repeat scroll left top transparent;
    bottom: -12px;
    height: 12px;
    left: 0;
    width: 100%;
}

#fancybox-bg-sw {
    background: url(../javascript/Miscellaneous/fancybox/corner-lb.png) no-repeat left top;
    bottom: -20px;
    left: -14px;
    width: 14px;
}

#fancybox-bg-w {
	top: 0;
	left: -14px;
	height:13px;
	height: 100%;
	background: url(../javascript/Miscellaneous/fancybox/left.png) repeat left top;
}

#fancybox-bg-nw {
    background: url(../javascript/Miscellaneous/fancybox/corner-lt.png) no-repeat left top;
    height: 13px;
    left: -14px;
    top: -13px;
    width: 14px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url(../javascript/Miscellaneous/fancybox/fancy_title_over.png);
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url(../javascript/Miscellaneous/fancybox/fancybox.png) -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url(../javascript/Miscellaneous/fancybox/fancybox-x.png) 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url(../javascript/Miscellaneous/fancybox/fancybox.png) -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_close.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-left-ico{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_nav_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-over{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_title_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame{height: expression(this.parentNode.clientHeight + "px");}

#fancybox-loading.fancybox-ie6{position: absolute; margin-top: 0;top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');}
#fancybox-loading.fancybox-ie6 div{background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg{background: transparent !important}
.fancybox-ie #fancybox-bg-n{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/top.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/corner-rt.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/right.png', sizingMethod='scale'); right:-20px;}
.fancybox-ie #fancybox-bg-se{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/corner-rb.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/bottom.png', sizingMethod='scale'); height:20px; bottom:-20px;}
.fancybox-ie #fancybox-bg-sw{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/corner-lb.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../javascript/Miscellaneous/fancybox/corner-lt.png', sizingMethod='scale'); }