@font-face {
  font-family: 'montserratlight';
  src: url("fonts/montserrat-light-webfont.eot");
  src: url("fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratsemi_bold';
  src: url("fonts/montserrat-semibold-webfont.eot");
  src: url("fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff"), url("../fonts/montserrat-semibold-webfont.ttf") format("truetype"), url("../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "montserratlight", sans-serif;
  color: #757575;
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 14px; }
select{
	width:100%;
	height:34px;
	margin-bottom: 20px;
	display: block;
	border:solid 1px #e4e4e4;
	background:#fff;
	font-size:13px;
	margin:0 0 15px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
input, textarea {
    border: solid 1px #e4e4e4;
    background: #fff;
    padding: 8px 12px;
    font-family: "montserratlight", sans-serif;
    font-size: 14px;
    display:block;
    width:100%;
    box-sizing:border-box;
    margin:0 0 15px;
}
  input:focus, textarea:focus {
    border: solid 1px #6E357C;
    outline: none;
    box-shadow: none; }
label{
	display: block;
	margin:0 0 10px;
	font-family: 'montserratsemi_bold', helvetica, sans-serif;
}
.btn {
  border: solid 1px #e4e4e4;
  padding: 8px 12px;
  background: #fff;
  min-height: 34px;
  text-decoration: none;
  display: table;
  margin:0 auto;
  font-size: 14px;
  box-sizing:border-box;
  line-height: 20pt;
  cursor: pointer;
  font-family: "montserratlight", sans-serif;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-border-radius: 6px;
  -moz-border-radis: 6px;
  border-radius: 6px; }
  .btn.btn-primary {
    background: #da3a3a;
    color: #fff;
    border-color: transparent;
    padding: 10px 35px;
    height: 50px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out; }
    .btn.btn-primary:hover {
      background: #6E357C;
      border-color: #6E357C; }
  .btn.btn-default {
    padding: 10px 20px;
    min-height: 50px;
    border-color: #757575;
    color: #757575;
    background: transparent;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out; }
    .btn.btn-default:hover {
      background: #6E357C;
      color: #fff;
      border-color: #6E357C; }
#event-name{
  display: block;
  overflow: hidden;
  margin:0 0 15px;
}